.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.replContainer {
  width: 100%;
  height: 700px;
  border: 1px solid #bbb;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 50px;
}

.hero {
  text-align: center;
  margin: 0 0 50px;
  background-color: #341f97;
  padding: 40px 10px;
}

.hero > h1 {
  font-size: 3em;
  margin: 0;
}

.hero > h3 {
  font-size: 1.2em;
  font-weight: 300;
}

.hero a {
  color: #8395a7;
}

.hero > h1,
.hero > h3 {
  color: #f5f6fa;
}
